# MongoDB
DB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/peerlance

# Server
PORT=6767
NODE_ENV=development

# JWT
SECRET_KEY=your_jwt_secret_key_here
SALT=12

# Frontend
FRONTEND_URL=http://localhost:5173

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Nodemailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
